@mixin square {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  background-color: turquoise;
}

@mixin square-bg($bg: red) {
  background-color: $bg;
}

@mixin circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: purple;
}

@mixin circle-bg($cbg:teal) {
  background-color: $cbg;
}

@mixin circle-border ($bwdth, $bclr) {
  border-width: $bwdth;
  border-color: $bclr;
}

.squares {
  width: 80%;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 auto;

  .square-magenta {
    @include square;
    
    @include square-bg(magenta);
  }

  .square-peru {
    @include square;

    @include square-bg(peru);
  }

  .square-purple {
    @include square;

    @include square-bg(purple);
  }
}

.circles {
  margin: 0 auto;
  width: 75%;
  border: 2px dotted brown;
  border-radius: 20px;

  .circle-red {
    @include circle;

    @include circle-bg(red);
  }

  .circle-green {
    @include circle();

    @include circle-bg(green);
  }

  .circle-blue {
    @include circle();

    @include circle-bg(blue);
  }
}