.product-tile {
  position: relative;

  .product-image {

    img {
      max-width: 148px;

      @include media-breakpoint-up('md') {
        max-width: 210px;
      }

      @include media-breakpoint-up('lg') {
        max-width: 321px;
      }
    }
  }

  .product-wishlist {
    position: absolute;
    top: 3px;
    right: 11px;
    cursor: pointer;

    i {
      font-size: 18px;
    }
  }
}

.product-information {
  color: $brand-main;
  margin-top: 10px;

  .product-title {
    font-weight: 700;
    line-height: 21px;
  }

  .product-price {
    font-size: 15px;
  }
}
