.footer {
  margin: 0 auto;
}

.footer-content {
  display: inline-flex;
  flex-wrap: wrap;

  .footer-contact {
    order: 2;
    margin: 0 auto;
    
    a {
      color: $brand-tertiary;
    }

    ul {
      display: none;
    }
  }

  .footer-info-links {
    order: 3;

  }

  .footer-subscribe-social {
    order: 1;
    background-color: $brand-secondary;
    text-align: center;
    padding-top: 25px;

    .newsletter-desktop {
      display: none;
    }

    .newsletter-mobile {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
    }



    h1 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 24px;
    }
  }
}

