
.footer {
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  input {
    width: 260px;

    &::placeholder {
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      padding-left: 10px;
    }
  }

  button {
    margin: 24px auto 14px auto;
    border: 1px solid $brand-main;
    line-height: 15px;
    letter-spacing: 0.5px;
    display: block;
  }
}

.footer-contact {
  order: 2;
  margin: 10px auto;
  
  a {
    color: $brand-tertiary;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    i {
      padding-right: 5px;
    }
  }
}

.footer-info-links {
  order: 3;
  text-align: center;
  background-color: $brand-quaternary;
  color: #fff;

  h1 {
    margin: 35px auto 35px auto;
  }
}

.footer-info-help {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  .footer-menu-separation {
    border-left: 1px solid #fff;
    padding-left: 25px;
  }

  ul {
    list-style-type: none;
    font-size: 16px;
    margin: 0 15px 0 10px;

    li {
      display: block;
      margin: 0 10px 15px 10px;
      line-height: 25px;
    }

    li:nth-child(4) {
      margin-bottom: 5px;
    }
    
    a {
      color: #fff;
    }
  }
}

.footer-terms-conditions {
  margin: 30px;

  a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #fff;
    text-decoration: underline; 
    font-style: italic;
  }
}

.footer-subscribe-social {
  order: 1;
  background-color: $brand-secondary;
  text-align: center;
  margin-top: 42px;

  .footer-subscribe {

    .newsletter-mobile {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      line-height: 20px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      margin: 0 auto;
      width:75%;

      a {
        color: $brand-main;
        text-decoration: underline;
      }
    }
  }
}

.subscribe-submit {
  border-radius: 0;
  text-transform: uppercase;
}

.footer-social {

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0 0 15px 0;
      padding: 0 10px 0 10px;
      cursor: pointer;
     
      i {
        font-size: 24px;
        background-color:$brand-secondary;
        color: $brand-main;
      }
    }
  }
}
