
$borders: dotted, dashed, solid, double, none;

$margins: ('xs': 4px, 'sm': 8px, 'md': 16px, 'lg': 32px);

$paddings: ('xs': 4px, 'sm': 8px, 'md': 16px, 'lg': 32px);

.row {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

@each $border in $borders {
  .b-#{$border} {
    border-style: $border;
  }
}

@each $key, $value in $margins {
  .m-#{$key} {
    margin: $value;

  }
}

@each $key, $value in $paddings {
  .p-#{$key} {
    padding: $value;

  }
}