
.header-bottom {

  .nav-sec {
    position: relative;

    button {
      z-index: 10;
      position: absolute;
      bottom: 36px;
      left: 271px;
      height: 21px;
      width: 69px;
      font-size: 10px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      border: none;
    }
  }
}
