.catalogue-preview {
  margin-top: 25px;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;

  .view-all {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: lowercase;
    line-height: 14px;
    padding: 9px 20px;
    border: 1px solid $brand-main;
  }

  .view-all:hover {
    background-color: $brand-main;
    color: #fff;
    transition: color 1s ease;
    transition: background-color 1s ease;
  }

  h1 {
    padding-top: 8px;
    margin: 0 auto 10px auto;
    font-weight: 700;
    font-size: 18px;
    border-top: 1px solid $brand-hr;
    line-height: 24px;
  }

  .catalogue-showcase-products {
    display: flex;
    justify-content: space-between;
  }
}

.product-tile {
  position: relative;
  margin-bottom: 35px;

  .product-image {
     width: 148px;
    height: 148px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100%;
    }
  }

  .product-wishlist {
    position: absolute;
    top: 3px;
    right: 11px;
    cursor: pointer;
  }
}

.product-information {
  color: $brand-main;
  margin-top: 10px;

  .product-title {
    font-weight: 700;
    line-height: 21px;
  }

  .product-price {
    font-size: 15px;
  }
}


