.mid-page-banner {
  font-family: 'Playfair Display', sans-serif;
  
  .promo-banner {
    height: 175px;
    overflow: hidden;
    margin: 32px auto 26px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }
}

.promo-text {

  h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 32px;
  }
}

